.price {
  margin-bottom: 5px;
  color: rgb(255, 80, 80);
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(234, 239, 245);
  border: 2px solid rgb(187, 179, 179);
  border-radius: 35px;
  padding:20px;
}

.description {
  margin-bottom: 10px;
  color: rgb(33, 61, 30);
  width: 250px;
}

.img {
  //position: relative;
  width: 250px;
  height: 250px;
  margin-bottom: 25px;
  object-fit: cover;
  box-shadow: 10px 10px 5px 12px grey
}