.price {
  margin-bottom: 5px;
  color: rgb(255, 80, 80);
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.description {
  margin-bottom: 10px;
  color: rgb(33, 61, 30);
  width: 250px;
}