.products {
  //display: flex;
  //width: 100%;
  //justify-content: space-around;
  //align-items: center;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 3rem 1rem;
}
