.logo {
  width: 100px;
}

.mat {
  width: 500px;
}

.karta {
  width: 400px;
}

.fire {
  width: 100vw;
  height: 60px;
  position: fixed;
}

.footerKnapppar {
  display: flex;
  justify-content: center;
  align-items: center;
}